
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

 .container {
    max-width: 800px;
    margin: 50px auto;
} 

.profile-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width:50%;
    height:50%;
}

.profile-img {
    width: 20%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-details {
    padding: 20px;
}

.profile-details h5 {
    margin-bottom: 10px;
    color: #333;
}

.profile-details p {
    margin-bottom: 5px;
    color: #555;
}

.profile-actions {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #f0934b ;
}

.btn-secondary {
    background-color: #753b08 ;
}

.btn-info {
    background-color: #a99905 ;
}


/* favorites */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 50px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #f09a61;
    font-weight: bold;
}

a:hover {
    color: #1d68a7;
}

h5 {
    margin-top: 20px;
    color: #333;
}

/* login */

    body {
      font-family: 'Arial', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(to right, #f0934b, #753b08);
    }

    #login-card {
      width: 300px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    #login-card header {
      background: linear-gradient(to right, #f0934b, #753b08);
      color: #fff;
      text-align: center;
      padding: 15px;
      font-size: 20px;
    }

    #login-card form {
      padding: 20px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }

    #btnlogin {
      background: linear-gradient(to right, #f0934b, #753b08);
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }

    #btnlogin:hover {
      background: linear-gradient(to right, #f0934b, #753b08);
    }

    a {
      display: block;
      text-align: center;
      color: #3498db;
      text-decoration: none;
      margin-top: 15px;
    }

    a:hover {
      text-decoration: underline;
    }
